# Environment files
.env
*.env

# Virtual environments
venv/
.venv/
env/
envvecdb/

# Chroma DB
chroma_db/

# Python cache
__pycache__/
*.pyc

myenvfs/
venvDay2/
envpe/
envtemp/
venvChunk/
venvRR/ 
venvTS/
venvCB/
venvAG/
venvRAI/
venvTC/
venvES/
venvRAG/
venvCAI/
venv_test/

